---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Graduate Level
======

* Math Camp, Summer 2023 (scheduled)
  * Lecturor for Mathematics & Statistics


Undergraduate Level
======

* American Democracy: Conflict and Consensus, Spring 2023
  * Teaching Assistant for John Geer

* Cause of War, Fall 2022
  * Teaching Assistant for Brenton Kenkel

* Formal Theory and International Security, Spring 2020
  * Teaching Assistant for Brad Smith

* Introduction to International Relations
  * Teaching Assistant for Jenn Larson


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}



